html, body{
	margin: 0;
	background-image:url("../img/back.jpg");
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6{
	margin:0;
	padding:0;
}
a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: black;
}
a:active {
	text-decoration: none;
	color: black;
}
header{
	width:auto;
	height:150px;
	/*background-color: #ff0000;*/
	margin: 0px auto;
}
#imgmenu{
	width:7.407%;
	height:98px;
	float: left;
	border: 1px solid black;
}
.img1{
	width:200px;
	height:200px;
	float: left;
}
#content{
	width: 100%;
	min-height: 200px;
	background-color: inherit;
}
#titulo{
	float: left;
	height: 70px;
	width: auto;
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: inherit;
	margin-left: 20px;
}
#limpaFloat{
	clear: both;
	display: block;
}
div.menu_item{
	height: 48px;
	width: inherit;
	border-left: 1px solid black;
	color: #000000;
	font-size: 40px;
	text-decoration: none;
}

div.menuprincipal{
	border: 1px solid black;
	text-align: center;
	width: 100%;
	margin: 0px auto;
}

div.menuprincipal div{
	display: inline;
	padding: 0px 45px;
	text-align: center;
}
div.menuprincipal div.inicio{
	border-left: 0px solid black;
}

footer{
	width: 100%;
	clear:both;
	height: 50px;
	text-align: left;
	margin: 0px auto;
	margin-top: 30px;
	background-color: #ffffff;
}
.overflow{
	width: 620px;
	height: 500px;
	overflow: auto;
	margin-top: 1%;
	background-color: rgba(13, 13, 13, 0.6);
	color: #ffffff;
	text-align: start;
}
.ranking tr td  {
	border:1px solid #000000;
	padding: 0px 0px;
	margin: 0px auto;
}
.ranking{
	border:1px solid #000000;
	padding: 0px 0px;
	margin: 0px auto;
	width: 600px;
}
.titulopag{
	float: right;
	margin-right: 46%;
	margin-top:2%;
}
div#content p#txt1{
	margin-left: 80px;
	width: 22.21%;
	padding: 0px 0px;
	height: auto;
	margin-right: 200px;
	float: left;
}
div#content h1#titulo1{
	font-size: 30px;
	margin-left: 80px;
	margin-top: 100px;
	margin-bottom: 30px;
	float:left;
}
div#content h1#titulo2{
	font-size: 30px;
	margin-left: 402px;
	margin-top: 100px;
	margin-bottom: 30px;
	margin-right: 500px;
	float: left;
}
div#content a.finalizarSessao{
	float: right;
}

/*--------------------- parte do css que referencia alterar os dados ----------------------- */

div#content{
	text-align: center;
}
div#content div#alterardados td#botoes{
	float: left;
}
div#content table#Alterar{
	margin: auto;
	margin-top: 97px;
}
input.alter{
	width: 400px;
}

table#inf_a tr td,table.inf_a tr td{
	border: 1px solid #000000;
}
h1#title{
	text-align: center;
	margin-top: 30px;
	font-size: 50px;
}
div#pl{
	margin: 0px auto;
	width: 750px;
}

div#pl.overflow{
	width: 600px;
}

h1.pl{
	text-align: center;
	margin-top: 30px;
}

.perfil{
	width: 600px;
	height: 250px;
	font-size: 20px;
	margin: auto;
}
.tabdados{
	border: 1px solid black;
}

.jogo{
	border: 1px solid black;
	height: 400px;
	width: 870px;
	margin-left: 260px;
	margin-top: 10px;
}

.tjogo{
	text-align: center;
	margin-top: 10px;
}
